//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| Color
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

// Primary Color
$primary_color_01: #86BC25;

// Secondary Color
$secondary_color_01: #00235a;

// Tertiary Color
$tertiary_color_01: #0e0a1a;

// Border Color
$border_color_01: #dee2e6;
$border_color_soft_01: #eaeaea;

// Font Color
$font_color_01: #00235a;

// Heading Color
$heading_color_01: #00235a;

// Background Color
$gray_bg_01: #f7f7f7;

$black_btn_color_01: #3D3E3E;
$black_soft_01:#666;


//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| Font weight
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
@mixin btn_font_weight {
    font-weight: 500;
}

@mixin heading_font_weight {
    font-weight: bold;
}

@mixin site_font_size {
    font-size: 16px;
}


//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| Shadow
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
$menu-shadow__01: 0 8px 6px -9px #999;
$menu-shadow__02: 0 5px 5px -5px #000;