//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| 01. Nice Select
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
.nice-select {
    width: 100%;
    border-radius: 0px;
    border: 1px solid #ddd;
}

.nice-select.open,
.nice-select:active,
.nice-select:focus {
    border-color: $primary_color_01;
}


//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| 02. Slider Range
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
#amount_shop {
    border: 0px;
    color: $heading_color_01;
    font-weight: bold;
}

// <div id="slider-range"></div>
// <p>
//     <label for="amount_shop">Price range:</label>
//     <input type="text" id="amount_shop" readonly>
// </p>


//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| 03. Menu Sticky
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
// .header__menu-wrapper {
//     position: relative;
//     height: 75px;

//     @include laptop1 {
//         height: 60px;
//     }
// }

// .menu_sticky {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     width: 100%;
//     background: #fff;
//     z-index: 1010;
//     box-shadow: 0 8px 6px -9px #999;

//     @include laptop1 {
//         background: #fff;
//     }
// }


//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| 04. Google Map
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

#map {
    height: 650px;
    width: 100%;

    @include laptop1 {
        height: 550px;
    }

    @include tab1 {
        height: 400px;
    }
}